<template>
  <svg
    class="icon icon-plus"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
    x="0px" y="0px" viewBox="0 0 496 496"
    style="enable-background:new 0 0 496 496;" xml:space="preserve"
  >
    <g>
      <path d="M488,240H256V8c0-4.418-3.582-8-8-8s-8,3.582-8,8v232H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h232v232c0,
        4.418,3.582,8,8,8
        s8-3.582,8-8V256h232c4.418,0,8-3.582,8-8S492.418,240,488,240z"
      />
    </g>
  </svg>
</template>
