@import "variables";

html, body {
  min-width: 320px;
}

.bgLight{
  background-color: $bgColorLight;
}

.indent_mb1{
  margin-bottom: 35px;
  @media (min-width: $md) {
    margin-bottom: 100px;
  }
}

.block-title{
  font-size: 30px;
  line-height: 40px;
  font-family: $defaultFont;
  color: #000;
  font-weight: 500;
  margin: 6px 0 10px;
  @media (min-width: $md) {
    font-size: 35px;
    line-height: 43px;
    margin: 10px 0 15px;
  }
}

.text{
  font-family: $defaultFont;
  color: #000;
}

.text_size_s{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

.text_size_m{
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 20px;
}

.container-button{
  margin-top: 20px;
  @media (min-width: $md) {
    margin-top: 50px;
  }
  .button{
    margin: 0 auto;
  }
}

.button{
  display: flex;
  align-items: center;
  height: 50px;
  padding: 15px;
  .icon{
    width: 12px;
    height: 12px;
    margin-left: 10px;
    margin-top: -1px;
  }
  .icon-plus{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: -1px;
  }
}

.button-outline{
  background-color: transparent;
  border: 1px solid #BFB4B4;
  color: #3B3B3B;
  font-family: $defaultFont;
  font-size: 14px;
  line-height: 18px;
  transition: color 0.3s, border 0.3s;
  height: 50px;
  &:hover,
  &:focus,
  &.active {
    color: $colorAccent;
    border-color: $colorAccent;
    fill: $colorAccent
  }
}

.button-accent{
  background-color: transparent;
  border: 1px solid transparent;
  color: $colorAccent;
  fill: $colorAccent;
  font-family: $defaultFont;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  .icon-down-arrow{
    width: 30px;
    height: 30px;
    display: none;
    @media (min-width: $md) {
      display: block;
    }

  }
}

.button_size_l{
  height: 60px;
  font-size: 16px;
  line-height: 24px;
}

.img-fluid{
  width: 100%;
}

.post-list{
  margin-bottom: -20px;
  @media (min-width: $md) {
    margin-bottom: 0;
  }
}



