<template>
  <div class="category-cloud">
    <div class="category-cloud-title">
      Your selected categories
    </div>
    <ul class="category-cloud__list">
      <li class="category-cloud__item" v-for="(category, index) in categories" :key="index">
        <button class="button button-outline">{{ category.name }} <IconClose /></button>
      </li>
      <li class="category-cloud__item">
        <button class="button button-outline active">
          Add
          <IconPlus />
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
import IconPlus from '../components/icons/IconPlus.vue';
import IconClose from '../components/icons/IconClose.vue';

  export default {
    components: { IconPlus, IconClose },
    props: {
      categories: {
        type: Array,
      }
    }
  }
</script>

<style lang="scss">
  /*$sm*/
  .category-cloud{
    margin: 0 -15px;
    padding: 20px 15px;
    background-color: $bgColorLight;
    @media (min-width: $sm) {
      margin: 0;
      padding: 0;
      background-color: transparent;
    }
  }
  .category-cloud-title{
    font-family: $defaultFont;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .category-cloud__list{
    list-style: none;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -15px;
  }
  .category-cloud__item{
    margin-bottom: 15px;
    padding: 0 15px;
  }
</style>
