<template>
  <div class="date-info-post">
    <div>{{ date }}</div>
    <div>{{ watchTime }}</div>
  </div>
</template>

<script>
  export default {
    props: {
      watchTime: {
        type: String
      },
      date: {
        type: String
      }
    }
  }
</script>

<style lang="scss">
  .date-info-post{
    display: flex;
    justify-content: space-between;
    color: $colorLight;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    font-family: $defaultFont;
  }
</style>
