<template>
  <div class="fullwithContainer" :class="even ? 'bgLight' : ''">
    <b-container>
      <div class="fullwithContainer__title">{{ title }}</div>
      <slot></slot>
    </b-container>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
      },
      even: {
        type: Boolean,
        default: false,
      }
    }
  }
</script>

<style lang="scss">
  .fullwithContainer{
    padding: 0;
    @media (min-width: $sm) {
      background-color: $bgColorLight;
      padding: 20px 0;
    }
    @media (min-width: $md) {
      padding: 100px 0 50px;
    }
  }
  .fullwithContainer__title{
    font-size: 18px;
    line-height: 24px;
    font-family: $defaultFont;
    color: #000;
    font-weight: 500;
    margin: 6px 0 30px;
    @media (min-width: $md) {
      font-size: 35px;
      line-height: 43px;
      margin: 10px 0 60px;
    }
  }
</style>
