<template>
  <div class="main-post">
    <b-row>
      <b-col cols="12" lg="6">
        <picture>
          <source media="(min-width: 768px)" :srcset="src.desktop">
          <source media="(max-width: 767px)" :srcset="src.mobile">
          <img :src="src.desktop" class="main-post__img img-fluid" alt="canvas-desktop">
        </picture>
      </b-col>
      <b-col cols="12" lg="6">
        <div class="main-post-content">
          <DateInfoPost :watchTime="watchTime" :date="date" />
          <div>
            <button class="d-none d-md-block button button-outline">
              {{ category }}
            </button>
            <h1 class="block-title">{{ title }}</h1>
            <div class="text text_size_m">
              {{ subtitle }}
            </div>
            <div class="text text_size_s">
              {{ content }}
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import DateInfoPost from './DateInfoPost.vue'

  export default {
    components: { DateInfoPost },
    props: {
      title: {
        type: String
      },
      subtitle: {
        type: String
      },
      content: {
        type: String
      },
      src: {
        type: Object
      },
      category: {
        type: String
      },
      date: {
        type: String
      },
      watchTime: {
        type: String
      }
    }
  }
</script>

<style lang="scss">
  .main-post__img, .main-post-content{
    margin-bottom: 20px;
  }
  .main-post-content{
    display: flex;
    flex-direction: column;
    @media (min-width: $md) {
      flex-direction: column-reverse;
    }
  }
</style>
