<template>
  <div class="post-item">
    <div
      class="post-item__img"
      :style="{ backgroundImage: `url(${src})` }"
    >
    </div>
    <div class="post-item__content">
      <div class="post-item__desc d-none d-md-block">
        {{ content }}
      </div>
      <div class="post-item__title">
        {{ title }}
      </div>
      <DateInfoPost :watchTime="watchTime" :date="date" />
    </div>

  </div>
</template>

<script>
  import DateInfoPost from './DateInfoPost.vue'
  export default {
    components: { DateInfoPost },
    props: {
      title: {
        type: String
      },
      content: {
        type: String
      },
      src: {
        type: String
      },
      date: {
        type: String
      },
      watchTime: {
        type: String
      }
    }
  }
</script>

<style lang="scss">
  .post-item__title{
    font-family: $defaultFont;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    height: 72px;
    overflow: hidden;
    @media (min-width: $md) {
      margin: 10px 0 15px;
      height: auto;
      font-size: 24px;
      line-height: 30px;
    }
  }
  .post-item__desc{
    font-family: $defaultFont;
    font-size: 16px;
    line-height: 24px;
  }
  .post-item__img{
    width: 120px;
    height: 120px;
    min-width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
    @media (min-width: $md) {
      margin-bottom: 10px;
      height: 166px;
      width: 100%;
      margin-left: 0;
    }
  }
  .post-item__content{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $md) {
      flex-direction: column-reverse;
    }
  }
  .post-item{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    @media (min-width: $md) {
      flex-direction: column;
    }
  }
</style>
