<template>
  <div style="margin-top: 50px;">
    <b-container class="indent_mb1">
      <b-row>
        <b-col cols="12" md="8">
          <MainPost
            :title="post.title"
            :subtitle="post.subtitle"
            :content="post.content"
            :src="post.src"
            :category="post.category"
            :date="post.date"
            :watchTime="post.watchTime"
          />
        </b-col>
        <b-col cols="12" md="4">
          <categoryCloud :categories="categories" />
        </b-col>
      </b-row>
    </b-container>
    <FullwithContainer class="indent_mb1" title="Based on your reading history">
      <b-row class="post-list">
        <b-col cols="12" md="4" v-for="(article, index) in articles" :key="index">
          <PostItem
            :title="article.title"
            :content="article.content"
            :src="article.src"
            :date="post.date"
            :watchTime="post.watchTime"
          />
        </b-col>
      </b-row>
      <div class="container-button">
        <button class="button button-accent button_size_l">
          See more
          <IconDownArrow />
        </button>
      </div>
    </FullwithContainer>
  </div>

</template>

<script>
import MainPost from '../components/MainPost.vue';
import CategoryCloud from '../components/CategoryCloud.vue';
import FullwithContainer from '../components/FullwithContainer.vue';
import PostItem from '../components/PostItem.vue';
import IconDownArrow from '../components/icons/IconDownArrow.vue';

export default {
  components: {
    MainPost,
    CategoryCloud,
    FullwithContainer,
    PostItem,
    IconDownArrow
  },
  data() {
    return {
      categories: [
        { name: 'Reduce caffeine'},
        { name: 'Reduce sugar'},
        { name: 'Learn to relax'},
        { name: 'Get fit'},
        { name: 'Avoid burnout'},
      ],
      post: {
        date: 'Jul 4, 2020',
        watchTime: '7 min read',
        category: 'Mental health',
        title: 'How to Prevent and Fight Burnout',
        src: {
          desktop: 'https://img.archiexpo.com.ru/images_ae/photo-mg/143745-12260571.jpg',
          mobile: 'https://i.stack.imgur.com/vhoa0.jpg',
        },
        subtitle: 'Do you feel mentally, emotionally, and physically exhausted? Do you feel like, no matter what you do, it is not enough and you are\n' +
          '          not being effective at work? Then, you’re probably experiencing a burnout.',
        content: 'A burnout is defined as a prolonged response to chronic emotional and interpersonal job stressors\n' +
          '          It is a state of emotional, physical and mental exhaustion caused by excessive…',
      },
      articles: [
        {
          date: 'Jul 4, 2020',
          watchTime: '7 min read',
          title: 'Diet and Mental Health: How Food Influences Your Mood.',
          content: 'This is a no-brainer: healthy food is the way to go. It can reduce the risk of diabetes,\n' +
            ' heart disease, high blood pressure or cancer. But how does diet...',
          src: 'https://img.archiexpo.com.ru/images_ae/photo-mg/143745-12260571.jpg'
        },
        {
          date: 'Jul 4, 2020',
          watchTime: '7 min read',
          title: 'Diet and Mental Health: How Food Influences Your Mood.',
          content: 'This is a no-brainer: healthy food is the way to go. It can reduce the risk of diabetes,\n' +
            ' heart disease, high blood pressure or cancer. But how does diet...',
          src: 'https://img.archiexpo.com.ru/images_ae/photo-mg/143745-12260571.jpg'
        },
        {
          date: 'Jul 4, 2020',
          watchTime: '7 min read',
          title: 'Diet and Mental Health: How Food Influences Your Mood.',
          content: 'This is a no-brainer: healthy food is the way to go. It can reduce the risk of diabetes,\n' +
            ' heart disease, high blood pressure or cancer. But how does diet...',
          src: 'https://img.archiexpo.com.ru/images_ae/photo-mg/143745-12260571.jpg'
        }
      ]
    };
  }
}
</script>

<style>

</style>
